* {
	background-size: cover;
	background-position: center;
}

html, body, section {
	height: 100%; 
	min-width: 992px; 
	min-height: 500px;
}

h1, h2 {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

h1 {
	font-size: 44px;
	font-weight: bold;
}

h2 {
	margin-top: 70px;
	font-size: 36px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

p {
	margin-top: 20px;
	font-size: 22px;
	font-family: Georgia, Cambria, "Times New Roman", Times, serif;
	line-height: 1.5;
}
section {
	display: flex;
}

section.title {
	display: flex; 
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/7/79/Narkomfin_Building_Moscow_2007_01.jpg);
	color: white
}

section.title article,
#history article,
#today article {
	width: 76%;
	margin: auto;
}

section.twoColumns figcaption {
	width: 60%;
}

section.twoColumns article{
	width: 80%;
	margin: 0 auto;
}

section.twoColumns figure {
	width: 40%;
	height: 100%;
	background-image: url(images/20360.jpg);
}

#architecture { height: 1200px; }
#history {
	flex-direction:column;
}
#history figcaption {
	height: 40%;
}
#history figure {
	background-image: url(images/20360.jpg);
	height: 60%;
}


